@CHARSET "UTF-8";

.navbar{
	background: #eee;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4em;
	background-color: #eee;
}

.text-muted{
	padding-top: 1em;
}


.form-login{
	max-width: 19em;
	margin: 0 auto;
}

.password-change-form{
	max-width: 19em;
	margin: 0 auto;
}

.logout-form{
	display: none;
}